h1 {
      color: #fff;
      background-color: red;
      padding: 30px;
      border-radius: 10px;
      width: 200px;
      margin: 0 auto;
    }

h1:hover {
      color: yellow;
    }

a {
  text-decoration: none;
}
